<!-- edit.html.erb -->
<div class="box5">
	<h1 class="text-center">Edit</h1>
		<%= form_for [:admin, @word] do |f| %>
		<% if @word.errors.any? %>
			<div class="alert alert-danger">
			<ul class="m-0">
				<% @word.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			</div>
		<% end %> 
							
		<div class="row">
			<div class="col">
				<%= f.label :word %>
				<%= f.text_field :content, class: "form-control" %>
			</div>

			<div class="col">
				<%= f.label :choices %>
				<br>
				<%= f.fields_for :choices do |b| %>
				<%= b.check_box :correct %>
				<%= b.text_field :content, class: "form-control" %>
				<% end %>
			</div>			

					
			<%= f.submit "Edit Word", class: "btn btn-primary text-center form-control mt-5" %>

			<% end %> 
		</div>
</div>		