<!-- index.html.erb -->
<div class="mb-5">
	<h1 class="text-center">
		<%= @category.title %>
	</h1>
	<div class="text-center">
		<%= link_to "New Word", new_admin_category_word_path, type: "button", class: 'btn btn-primary btn-lg' %>
	</div>	
</div>

<div class="row">
		<table class="table table-hover">
        <thead>
	    	<tr>
	            <th scope="col">#</th>
	            <th scope="col">word</th>
	            <th scope="col">action</th>
	        </tr>
	    </thead>
	<% @words.each_with_index do |word, i| %>
	    <tbody>
	        <tr>
	            <th scope="row"><%= i+1 %></th>
	            <td><%= word.content %></td>
	            <td>
	            	<%= link_to "edit", edit_admin_word_path(word) %>
	            	/
	            	<%= link_to "delete", admin_word_path(word), method: :delete %>
	            </td>
	        </tr>
	    </tbody> 
	    
	<% end %>		
        </table>

</div>