
<div class="box5">
	<h1 class="text-center">Add Word</h1>
		<%= form_for [:admin, @word], url: admin_category_words_path do |f| %>
		<% if @word.errors.any? %>
			<div class="alert alert-danger">
			<ul class="m-0">
				<% @word.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
			</div>
		<% end %> 
	<div class="row" type="form">
		<div class="col">
			<%= f.label :word %>
			<%= f.text_field :content, class: "form-control" %>
		</div>
		<div class="col radio">
			<%= f.label :choices %>
			<br>
				<%= f.fields_for :choices do |b| %>
				<%= b.check_box :correct %>
				<%= b.text_field :content, class: "form-control" %>
			
			<br>
				<%= f.fields_for :choices do |b| %>
				<%= b.check_box :correct %>
				<%= b.text_field :content, class: "form-control" %>

			<br>
				<%= f.fields_for :choices do |b| %>
				<%= b.check_box :correct %>
				<%= b.text_field :content, class: "form-control" %>
			
			<% end %>
			<% end %>
			<% end %>
		</div>		

		<%= f.submit "Add Word", class: "btn btn-primary text-center form-control mt-5" %>

		<% end %> 
	</div>
	
</div>
