<div class="container">
	<h1 class="text-center"><%= @lesson.category.title %></h1>
	<h3 class="text-right"><%= @lesson.choices.count + 1 %>/<%= @category.words.count %></h3>
	<div class="row">
	<div class="center-block">
		<div class="card my-5 mx-10" style="width: 36rem;">
			<div class="card-body text-center">
				<div class="card-title">
					<h2><%= @word.content %></h2>
				</div>
				<div class="card-text">
					<% @word.choices.each do |choice| %>
					  <%= button_to choice.content, lesson_answers_path(@lesson), params: {word_id: @word.id, choice_id: choice.id}, class: 'btn btn-outline-secondary btn-block mb-3 ' %>
					<% end %> 
				</div>
			</div>
		</div>
	
	</div>
	</div>
</div>