<div class="container justify-content-around">
    <div class="container mb-3">
        <%= form_tag(words_path, method: :get) do %>
            <%= select_tag 'category_id', options_for_select(category_choices, @category_id), onchange: 'this.form.submit()', include_blank: "All" %>
        <% end %>
    </div>
       <div class="row"> 
        <div class="col-9"
            <h3>Words learned</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>Word</th>
                    <th>Your answer</th>
                    <th>Correct answer</th>
                  </tr>
                </thead>
                <tbody>
                  <% @answers.each do |answer| %>
                  <tr>
                    <td><%= answer.word.content %></td>
                    <td><%= answer.choice.content %></td>
                    <td><%= answer.word.correct_answer if answer.choice.correct == false %></td>
                  </tr>
                 <% end %> 
                </tbody>
              </table>
              
        </div>
   
        <div class="col-3 py-2 px-3 ">
            <div class="card">
                <div class="row card-body">
                    <div class="col-md-6">
                        <%= user_image(current_user, class: "card-img-top") %>
                    </div> 
                    <div class="col-md-6">
                        <h3><%= current_user.name %></h3>
                    
                    </div>
                </div>
            </div>  
            <div class="card mt-3">
                <div class="card-body text-center">
                    Learned <%= current_user.words.size %> words 
                        <br> 
                    Learned <%= current_user.lessons.size %> lessons
                </div>
            </div>
            
        </div>
        
    </div>
    

</div>



