<!-- show.html.erb -->
<div class="mb-5">
	<h1 class="text-center">Result: <%= @lesson.category.title %></h1>

	<h3 class="text-right"><%= @lesson.choices.pluck("correct").count(true) %>/<%= @lesson.choices.pluck("content").count %></h3>
</div>

<div class="row">
		<table class="table table-hover">
        <thead>
	    	<tr>
	            <th scope="col">#</th>
	            <th scope="col">word</th>
	            <th scope="col">answer</th>
	        </tr>
	    </thead>
	<% @answers.each do |answer| %>
	    <tbody>
	        <tr>
	          	<td>
	          		<% if answer.choice.correct %>
	          			<%= fa_icon("grin-beam 3x", text: "OK") %>
	          			</i>
	          		<% else %>
	          			<%= fa_icon("dizzy 3x", text: "NG") %>
	          		<% end %>	
	          	</td>
	            <td>
	            	<%= answer.word.content %>
	            </td>
	            <td><%= answer.choice.content %></td>
	            
	        </tr>
	    </tbody> 
	    
	<% end %>		
        </table>

</div>
