<!DOCTYPE html>
<html>
  <head>
    <title>RailsElearningYuhei</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <link href="https://fonts.googleapis.com/css?family=Baloo+Tammudu|Josefin+Sans" rel="stylesheet">

  </head>
  <body class="<%= yield(:body_class) %>">
    <%= render "layouts/header" %>
    <div class="container pt-4">
      <% if notice %>
      <div class="alert alert-primary">
      <%= notice %>
      </div>
      <% end %>
    <%= yield %>
  </body>
</html>
